<style>
.p-slider-product-list a {
    text-decoration: none !important;
}
.lzd-act-title .inner-content{
    background-color: #350948 !important;
    border-radius: 7px; text-align:center;
    color: #ffd500 !important;
    text-shadow: 2px 2px #000000;
}
.p-slider-product-img img{
    object-fit: contain !important;
}
.p-slider-content{
    height: 270px;
}
.p-slider {
    background: transparent !important;
}
.lzd-act-title .more {
    color: #ffd500 !important;
}
.lzd-act-partnership-daraz .cs-slide{
 overflow-x: hidden !important;
}
@media(max-width: 767px){
    .p-slider-content{
        height: auto !important;
    }
    .lzd-act-title .title {
    font-family: 'Montserrat';
    text-shadow: 2px 2px #000000;
    }
.p-slider {
    background: transparent !important;
}
.lzd-act-title{
    color: #ffd500 !important;
    background-color: #350948 !important;
}
.lzd-act-partnership-daraz .cs-slide{
 overflow-x: auto !important;
}
}
.mui-zebra-page{ 
    background-size: contain !important;
    background-color: #4e0070 !important;
}
.lzd-act-title .title{
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 800 !important;
        text-transform: uppercase;
}.lzd-act-navigation-icon-text {
    font-weight: 500;
    text-shadow: 2px 2px #48272a;
}
.lzd-act-title{
        text-align: center;
}
.lzd-act-richtext{ 
    font-family: 'Montserrat', sans-serif !important;
}
.lzd-act-title .more{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif !important; 
}
    
@media(max-width: 767px){
.lzd-act-title .more{
    font-size: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif !important; 
}
.lzd-act-navigation-icon-text {
    font-weight: 500;
    text-shadow: 2px 2px #48272a;
}
  .lzd-act-title{
      font-family: 'Montserrat', sans-serif !important;
      font-weight: 700;
      font-size: 20px !important;
      text-transform: uppercase;
    }
}
@media(min-width: 768px){
    .lzd-act-title .inner-content{
    font-size: 26px !important;
  }
}
@media (max-width:767px){
  .lzd-act-icon-navigation{
  background-color:transparent !important;
  height: 150px !important;
}
.lzd-act-icon-navigation-text, .lzd-act-navigation-icon-text{
  margin-top: 3px !important;
  padding: 3px !important;
  text-shadow: 2px 2px #48272a;
 }
 .lzd-act-icon-navigation-list{
    height: 150px !important;
 }
 .lzd-act-icon-navigation-item{
   margin: auto !important;
 }
 .lzd-act-icon-navigation-list .lzd-act-icon-navigation-item .custom-icon{
  width: 45px !important;
  height: 45px !important; 
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;
  border-radius: 50px !important; 
  background: transparent;
  border: 3px solid #fff;
}
.lzd-act-icon-navigation-text, .lzd-act-navigation-icon-text{
  color: #ffd500 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  text-shadow: 2px 2px #48272a;
}.lzd-act-banner{
  margin-top: 15px !important;
}
}
@media (min-width: 768px){
.lzd-act-icon-navigation{
 background-color:transparent !important;
    }
.lzd-act-navigation-icon-text{
 margin-top: 10px !important; 
 color: #ffd500 !important;
 padding-bottom: 12px;
 height: 75% !important;
} .lzd-act-navigation-icon-list{
    height: 150px !important;
 }
.lzd-act-navigation-icon-list .lzd-act-navigation-item-icon .custom-icon{
 width: 55px !important;
 height: 55px !important;
 border-radius: 50px !important;
 box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important ; 
 background: transparent !important;
 border: 3px solid #fff;
}
.lzd-act-navigation-icon-text{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  color: #ffd500 !important;
}.lzd-act-icon-flipsnap{
  height: 150px !important;
}
.icon-navigation-arrow{
 color: #fff !important;
}
}
        @media (max-width: 768px){
.responsive-box.daraz{
                /*border-top: 3px solid #ddd !important;*/
            }
.responsive-box.daraz .flex-grid-col3{
                width: 103.77% !important;
                /*border-bottom: 2px solid #ddd !important;*/
            }
.responsive-box.daraz .flex-grid-col3 .flex-item {
            width: 49.2% !important;
            margin: 0 !important;
            box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.13) !important; 
}.lzd-act-product-slot-endless-scroll .card-product-desc{
                top: 10px !important;
                margin-top: 22px !important;
            }
.lzd-act-product-slot-endless-scroll .card-product-slot-image{
                margin-top: 14px !important;
            }
.lzd-act-product-slot-endless-scroll .card-product-slot-title{
                font-size: 14px !important;
                line-height: 20px !important;
                margin-top: 0 !important;
                height: 40px !important;
                text-align: center !important;
 }.two-line-clamp{
                max-height: 40px !important;
            }
.lzd-act-product-slot-endless-scroll .sale-price{
                font-size: 14px !important;
                line-height: 15px !important;
                text-align: center !important;
                margin: 0 auto !important;
 }.lzd-act-product-slot-endless-scroll .second-line-price{
                margin: 3.2% auto 0 !important;
            }
.lzd-act-product-slot-endless-scroll .second-line-price .original-price{
                font-size: 14px !important;
            }.lzd-act-product-slot-endless-scroll .second-line-price .discount{
                font-size: 14px !important;
            }.flex-grid-col3 .J_dynamic_box .product-group .clearfix .placeholder-box{
                padding: 0 !important;
            }
            .lzd-act-product-slot-endless-scroll .li-pagination{
                height: 0 !important;
                width: auto !important;
             }.responsive-box.daraz .flex-grid-col3 .flex-item{
                padding-left: 0 !important;     
        }
        }   
.p-slider-daraz .p-slider-content{border-radius: 7px !important;}
@media(min-width: 768px){
  .p-slider-daraz .p-slider-slider-wrap{
      margin-top: -5px !important;
  }
    .inner-content .flex-grid-col6 .flex-item{
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;
        border-radius: 7px !important;
  }
.p-slider-daraz .p-slider-product{
    width: 200px !important;
}
.p-slider-product-title{
        margin-left: 6px;

}.p-slider-product-price{
        margin-left: 6px;
}.p-slider-product-discount{
        margin-left: 6px;
}
.p-slider-product-img img{border-radius: 7px 7px 0 0 !important;}
    .inner-content .flex-grid-col1 .thumb-bx, .inner-content .flex-grid-col2 .thumb-bx, .inner-content .flex-grid-col3 .thumb-bx, .inner-content .flex-grid-col4 .thumb-bx, .inner-content .flex-grid-col5 .thumb-bx, .inner-content .flex-grid-col6 .thumb-bx, .inner-content .flex-grid-col7 .thumb-bx, .inner-content .flex-grid-col8 .thumb-bx, .flex-item {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 7px 7px 0 0 !important;
    }

    .lzd-act-product-slot-endless-scroll .card-product-slot-banner, .lzd-act-product-slot-endless-scroll .card-product-slot-link {

        width: 100%;
        height: 100%;
        display: block;
        padding-top: 142.4%;
        position: relative;
        border-radius: 7px !important;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;
    }

    .p-slider-product {
        display: inline-block;
        width: 178px;
        font-size: 12px;
        border: 1px solid transparent;
        margin-left: 12px;
        background: #fff;
        border-radius: 7px !important;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;
    }
    .p-slider-daraz .p-slider-slider{
       top: 23px !important;
       right: 10px !important;
       height: 300px !important;
       padding: 12px 26px !important;
    }
    .p-slider-daraz .p-slider-product-list{
       margin: 2px !important;
    }
    .p-slider-daraz .p-slider-product{
        padding: 0 !important;
    }
    .inner-content .flex-grid-col1, .inner-content .flex-grid-col2, .inner-content .flex-grid-col3, .inner-content .flex-grid-col4, .inner-content .flex-grid-col5, .inner-content .flex-grid-col6, .inner-content .flex-grid-col7, .inner-content .flex-grid-col8
    {
       overflow: visible !important;
    }
    .inner-content {
       overflow: visible !important;
    }
    .J_dynamic_box.flex-grid-col6.product-group.clearfix.placeholder-box.daraz{
       overflow: visible !important;
    }
    .p-slider div, .p-slider li, .p-slider ul{
       margin-bottom: 1px;
    }
    .thumb-bx.card-product-slot-image{
        height: 0 !important;
    }
}
@media(max-width: 767px){
    .lzd-act-product-slot-endless-scroll{
        background: #fff !important;
    }
    .lzd-act-product-slot-endless-scroll .card-product-slot-image {
        position: absolute !important;
        width: 100%;
        top: 0;
        border-radius: 0 !important;
    }

    .lzd-act-product-slot-endless-scroll .card-product-slot-banner, .lzd-act-product-slot-endless-scroll .card-product-slot-link {
        width: 100%;
        height: 100%;
        display: block;
        padding-top: 166.4%;
        position: relative;
        border-radius: 0px !important;
        /*box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;*/
    }
    .p-slider-product-img img{border-radius: 7px 7px 0 0 !important;}
    .p-slider-product-img {
        width: 26.66667vw;
        height: 26.66667vw;
        margin-bottom: 8px;
        overflow: hidden;
  /*      border-radius: 7px 7px 0 0 !important;*/
    }
    .p-slider-product {
        display: inline-block;
        width: 26.66667vw;
        background: #fff;
        font-size: 12px;
        margin-right: 2.13333vw;
        border-radius: 7px !important;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;
    }
    .inner-content .flex-grid-col6 .flex-item{
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;
        border-radius: 7px !important;
        margin-bottom: 5px !important;
    }
    .lzd-act-stores-list .container{
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.13) !important;
        border-radius: 7px !important;
        margin-bottom: 5px !important;
    }
    .lzd-act-stores-list .container, .lzd-act-stores-list .responsive-box .flex-item{
        overflow: visible !important;
    }
img, input{
        /*border-radius: 4px !important;*/
    }.responsive-box.daraz .flex-item{margin-bottom: 1.2%;}
    .lzd-act-product-slot-endless-scroll .li-pagination{
        height: 0 !important;
    }
    .responsive-box.daraz .thumb-bx .thumb{
     width: 95%;
     text-align: center !important;
     left: 2.5px !important;
    }
    .responsive-box.daraz .flex-grid-col1, .responsive-box.daraz .flex-grid-col2, .responsive-box.daraz .flex-grid-col3, .responsive-box.daraz .flex-grid-col4{
        padding: 0 !important;
    }
    /* New Endless With ATC BTN */
    .block{
        font-weight: 700;
        margin-top: 0px !important;
    }
}
    @media(max-width: 768px){
    .p-slider-product-list a{
        text-decoration: none !important;
    }
    .p-slider{
        background: transparent !important;
    }
    .p-slider-slider{
        overflow-x: scroll !important;
    }
    .p-slider-product{
        width: 42.66667vw !important;
}
    .p-slider-product-img{
        width: 42.66667vw !important;
        height: 42.66667vw !important;
        object-fit: contain !important;
}.p-slider-product-title{
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
        font-size: 14px !important;
        height: 49.5px !important;
}.p-slider-product-price{
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
        font-size: 14px !important;
}.p-slider-product-discount{
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
        font-size: 14px !important;
}
/* New Endless with ATC BTN */
.block{
    font-weight: 700;
    margin-top: 0px !important;
}
.daz-product-slot-endless-with-button .card-product-slot-banner, .daz-product-slot-endless-with-button .card-product-slot-link{
    padding-top: 145%;
}
.daz-product-slot-endless-with-button .sale-price{
    font-size: 15px;
    font-weight: 600;
}
.daz-product-slot-endless-with-button .second-line-price .discount, .daz-product-slot-endless-with-button .second-line-price .original-price{
    font-size: 12px;
    font-weight: 600;
}
.daz-product-slot-endless-with-button .li-pagination{
    height: 7px;
}
.daz-product-slot-endless-with-button .card-product-slot-title{
    font-size: 13px;
    line-height: 15px;
    height: 32px;
}
.daz-product-slot-endless-with-button .card-product-slot-title{
    margin-top: 0;
}
}
</style>
